<ion-header>
	<ion-toolbar>
		<ion-grid>
			<ion-row>
				<ion-col>
					<div id="logo-container">
						<img id="logo" src="../assets/images/mathmania_logo.png"/>
					</div>
				</ion-col>
				<ion-col></ion-col>
				<ion-col class="user-container">
					<ion-icon class="icon" name="person-circle-outline"></ion-icon>
					<span class="user-name"> Buddy !</span>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
	<app-play-game></app-play-game>
</ion-content>