body{
   font-family: "Comic Sans MS", cursive, sans-serif;
}

.user-container{
  text-align: right;
}

.icon {
   font-size: 2em;
   color: #436F8A;
   margin-bottom: -9px;
}

.user-name {
  text-align: center;
  color: #917950;
}