#difficulty-container .ion-color-warmingup {
  --ion-color-base: #FFE599;
  --ion-color-base-rgb: 255,229,153;
  --ion-color-contrast:#000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #e0ca87;
  --ion-color-tint: #ffe8a3;
}

#difficulty-container .ion-color-takeoff {
  --ion-color-base: #F9CB9C;
  --ion-color-base-rgb: 249,203,156;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #dbb389;
  --ion-color-tint: #fad0a6; 
}

#difficulty-container .ion-color-unstop {
  --ion-color-base: #B45F06;
  --ion-color-base-rgb: 180,95,6;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #9e5405;
  --ion-color-tint: #bc6f1f;  
}

.ion-color-question-range {
  --ion-color-base: #8A5E43;
  --ion-color-base-rgb: 138,94,67;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #79533b;
  --ion-color-tint: #966e56;
}

.ion-color-go {
  --ion-color-base: #436F8A;
  --ion-color-base-rgb: 67,111,138;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #3b6279;
  --ion-color-tint: #567d96;
}
